/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 25px;
  line-height: 31px;
  color: #333;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background: rgb(238, 157, 8);
}

#left {
  float: left;
  width: 33.3%;
  color: #fff;
  background: rgb(38, 131, 125);
}

#middle {
  float: left;
  width: 33.3%;
  color: #fff;
  background: rgb(158, 25, 25);
}

#right {
  float: left;
  width: 33.3%;
  color: #fff;
  background: rgb(67, 170, 163);
}

#full {
  width: 100%;
  overflow: auto;
  clear: both;
  color: rgb(241, 234, 234);
  background: #4b5e64;
}

#division {
  padding: 21px;
  margin-top: 20px;
  background: #2855b6;
}

aside {
  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
  background: #a6b747;
  border: 2px solid #eee;
}

footer {
  padding: 20px;
  clear: both;
  background: rgb(238, 156, 4);
}
